<div class="form-container">
    <form novalidate [formGroup]="user">

        <label>First name</label>
        <input type="text" formControlName="firstName">
        <div class="error" *ngIf="user.get('firstName').touched && user.get('firstName').hasError('required')">
            <span>First name is required</span>
        </div>

        <label>Last name</label>
        <input type="text" formControlName="lastName">
        <div class="error" *ngIf="user.get('lastName').touched && user.get('lastName').hasError('required')">
            <span>Last name is required</span>
        </div>

        <label>Email</label>
        <input type="text" formControlName="email">
        <div class="error" *ngIf="user.get('email').touched && user.get('email').hasError('required')">
            <span>Email is required</span>
        </div>
        <div class="error" *ngIf="user.get('email').touched && user.get('email').hasError('pattern')">
            <span>Email has a problem</span>
        </div>

        <button type="submit" [disabled]="!user.valid">Submit</button>
    </form>
</div>